<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Contatos - Agenda de contatos</title>
</head>
<body>

	<header>
		<h2>Agenda de contatos</h2>
	</header>

	<section>
		<b>Nome:</b> <%- contato.nome %>
		<br> 
		<b>Email:</b> <%- contato.email %><br>
	</section>
	
	<br>
	
	<a href="/contatos">Voltar</a>
	
	<br>
	<br>
	
	<footer>
		<small>Contatos - Agenda de contatos</small>
	</footer>
</body>
</html>